
@font-face {
    font-family: zaha;
    src: url(../fuentes/static/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: cuerpo;
    src: url(../fuentes/static/OpenSans/OpenSans-Bold.ttf);
    
}

@font-face {
    font-family: textoDescritpivo;
    src: url(../fuentes/static/OpenSans/OpenSans-Italic.ttf);
}